<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>beto-paredes</title>
</head>

<body>
    <div style="width: auto; max-width: 600px; margin: 0 auto;   background: #eceff0; overflow: hidden; ">
        <div style="text-align: center; padding:10px 0; padding-top: 0;">
            <a href="https://www.betoparedes.com"><img style="width: 320px;"
                    src="https://www.betoparedes.com/images/as_betologo.png"></a>
        </div>

        <h1 style="background: #f5f2f1; text-align: center; margin: 0; padding:18px 10px 15px 10px; 
       font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 22px; color: #0286fe;">
            Beto Paredes: <strong>Incomplete worksheet before the discovery call.</strong>
        </h1>

        <div style="background: #5cd6ff;padding: 10px;">
            <div style="padding: 10px; border:1px solid #fff;">
                <p
                    style="color:#333333; font-size: 16px;margin: 0; padding: 10px 0;font-family: Arial;line-height: 27px;font-weight: bold;">
                    Hello, [[organizar_name]]<br />
                    We are sorry to inform you that our Technology Consultant <strong>[[tech_name]]</strong> has failed
                    to Submit the <strong>[[product_name]]</strong> worksheet for your upcoming discovery appointment
                    with <strong>[[lead_name]]</strong>. Now you can Reschedule or Cancel the appointment on your
                    Judgement.<br /><br />


                    Open Client Folder :
                    <a style="text-decoration: none;color: #0a89fd;" href="[[folder_view_link]]"> Click Here</a><br />
                    Appointment Details : [[startDateTime]],[[slot]].<br />
                    <br />

                    <span>
                        Product : [[product_name]]<br />
                        Tech Consultant Name : [[tech_name]]<br />
                        Tech Consultant Email : [[tech_email]]<br />
                    </span>
                    <!-- <deadline - 2hrs> -->
                    <br /> If you have any questions or need any assistance, please email us on <a
                        style="color: blue;">info@betoparedes.com</a>,<br> We will be more than happy to
                    help you!
                </p>

            </div>
        </div>


        <div style="padding: 15px 25px; border-top: 1px solid #ddd;background: #dcdbdb;">
            <p
                style="margin: 0; padding: 5px 0; font-size: 20px; font-style: italic; text-align: center; font-weight: bold;">
                To learn more about Beto Paredes Use these links:</p>
            <p
                style="margin: 0; padding: 10px 0; font-size: 18px; font-style: italic; text-align: center;font-weight: bold;">
                <span style="font-weight: bold; display: block;">Beto Paredes BIO:</span>
                <a style="text-decoration: none;color: #0a89fd;" href=" https://www.betoparedes.com/bio.php">
                    https://www.betoparedes.com/bio.php</a>
            </p>
            <p
                style="margin: 0; padding: 10px 0; font-size: 18px; font-style: italic; text-align: center; font-weight: bold;">
                <span style="font-weight: bold; display: block;">Testimonials about Beto Paredes:</span>
                <a style="text-decoration: none;color: #0a89fd;" href=" https://www.betoparedes.com/testimonials.php">
                    https://www.betoparedes.com/testimonials.php</a>
            </p>
            <p
                style="margin: 0; padding: 10px 0; font-size: 18px; font-style: italic; text-align: center; font-weight: bold;">
                <span style="font-weight: bold; display: block;">Beto Paredes Team:</span>
                <a style="text-decoration: none;color: #0a89fd;white-space: normal;word-wrap:break-word"
                    href="https://www.betoparedes.com/executiveteam.php">
                    https://www.betoparedes.com/executiveteam.php</a>
            </p>
        </div>

    </div>




</body>

</html>